@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --laranjaPrimario: #FF5722;
    --azulSegundario: #0455BF; 
    --laranjaTerceario: #FFF8F2; 
    --branco: #f8f9fa;
    --cinza: #f9f9f9;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--branco);
    font-family: "Lato", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
}

.header {
   background: url(../assets/fundo.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #00132bca; 
    z-index: 1;
}


.navbar {
    background: transparent;
    z-index: 2;
    position: relative;
    margin: auto 36px;
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Roboto Slab", serif !important;
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
}
#logo-principal {
    width: 60px;
    height: 60px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255,255,255,1)" stroke-width="2" d="M5 6h20M5 14h20M5 22h20"/%3E%3C/svg%3E');
}

.navbar-nav .nav-item {
    margin: 0 8px;
}

.navbar-nav .nav-link {
    position: relative;
    color: var(--branco);
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s ease-out;
}

.navbar-nav .nav-link:hover {
    color: var(--branco);
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-bottom: 2px solid var(--laranjaPrimario);
    transform: scale(0.1, 1);
}

.navbar-nav .nav-link:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}


.nav-intro {
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: var(--branco);
    text-align: center;
    font-weight: 700;
    text-shadow: 0 4px 8px black;
    position: relative;
    transition: height 0.5s ease; /* Transição suave */
}

.nav-intro h2 {
    font-size: 42px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
}

.nav-intro p {
    margin-top: 8px;
    font-size: 28px;
}

.btn.btn-one {
    padding: 16px;
    width: 100px; 
    text-align: center; 
    margin-left: 16px; 
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--laranjaPrimario);
    border-bottom-color: var(--laranjaPrimario);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
    color: var(--branco);
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}

.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}
.back-to-top-btn {
    position: fixed;
    visibility: hidden;
    right: 8px;
    display: none; /* Oculto por padrão */
    background-color: #FF5722;
    color: white;
    border: none;
    width: 50px; /* Largura e altura iguais para torná-lo circular */
    height: 50px;
    border-radius: 50%; /* Faz o botão ficar redondo */
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex; /* Centraliza o ícone dentro do botão */
}

.back-to-top-btn i {
    margin: 0; /* Remove margens extras do ícone */
}

.back-to-top-btn:hover {
    background-color: #e64a19;
}
  
/* Sessão sobre */
.about-section {
    background-color: #f9f9f9; 
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

#title-about {
    text-align: center;
    font-size: 36px;
    line-height: 1.3;
    font-family: "Lato", sans-serif;
    font-weight: 700; 
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adicionando a sombra do texto */
    position: relative;
    letter-spacing: 1px;
}

#title-about::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: var(--laranjaPrimario);
    border-radius: 2px;
}

.about-us {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.us__left {
    flex: 1;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6; 
    color: #444;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.us__left p {
    font-size: 20px;
    color: #333;
}

.us__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.us__right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.us__right li {
    font-size: 18px;
    color: var(--azulSegundario);
    margin: 12px 0;
    position: relative;
    padding-left: 20px;
}

.us__right li::before {
    content: '✔'; 
    position: absolute;
    left: 0;
    top: 0;
    color: var(--laranjaPrimario);
    font-size: 16px;
}

.about-us:hover .us__left, .about-us:hover .us__right {
    opacity: 1;
    transform: translateY(0);
}
/* Sessão "Nossos Valores" */
.values-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 64px 92px;
    background-color: var(--branco); 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.values-section h2 {
    font-family: "Lato", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    border-bottom: 4px solid var(--azulSegundario);
    letter-spacing: 1.5px;

}


.our-values {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px; 
    margin-top: 40px;
}

.values-item {
    flex: 1 1 calc(25% - 32px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.values-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15); 
}

.values-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--azulSegundario);
    margin-top: 16px;
}

.values-item p {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-top: 12px;
}

.values-item img {
    width: 72px;
    height: 72px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1)); 
    transition: transform 0.3s ease;
}

.values-item:hover img {
    transform: scale(1.1); 
}

/* Sessão "Como Participar" */
.section-part {
    background-color: var(--cinza); /* Cor de fundo suave */
    padding: 72px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Layout responsivo */
    gap: 16px; /* Espaçamento entre os elementos */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
    transition: all 0.3s ease;
} 

.part-title {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--azulSegundario);
}

.part-title h2 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    border-bottom: 4px solid var(--azulSegundario); 
}
.part-title p{
    font-size: 2rem;
}
/* voltar aqui */
.part-cards {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card__item {
    flex: 1 1 calc(33.333% - 32px); 
    max-width: 350px;
    background-color: var(--branco);
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__item:hover {
    transform: translateY(-8px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card__item h3 {
    font-size: 2.5rem; 
    color: var(--azulSegundario);
    margin-bottom: 16px;
}

.card__item h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
}

.card__item img {
    margin: 16px 0;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1)); 
    transition: transform 0.3s ease;
}

.card__item:hover img {
    transform: scale(1.1);
}

.card__item p {
    font-size: 1rem;
    color: #666;
    margin-top: 12px;
}

/* Sessão "Informações Complementares" */
.section-compl {
    padding: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #f2f2f2; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

.section-compl h2 {
    font-size: 2rem;
    color: var(--azulPrimario); 
    text-align: center;
    border-bottom: 4px solid var(--azulPrimario); 
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.section-compl p {
    text-align: center;
    font-size: 1.1rem; 
    color: #555;
    max-width: 600px;
    margin-bottom: 32px;
}

/* Estilo dos cards */
.compl {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.compl__item {
    flex: 1 1 calc(30% - 32px);
    max-width: 300px;
    background-color: var(--branco);
    border: 2px solid var(--azulPrimario); 
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.compl__item:hover {
    transform: translateY(-8px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

/* Título e descrição dos cards */
.compl__item h2 {
    font-size: 1.5rem;
    color: var(--azulPrimario);
    margin: 16px 0;
}

.compl__item p {
    font-size: 1rem;
    color: #666;
}

/* Estilo para ícones */
.compl__item i {
    margin-bottom: 16px;
    color: var(--azulPrimario);
    transition: transform 0.3s ease;
}

.compl__item:hover i {
    transform: scale(1.1); 
}

/* Sou PCD */
.section-pcd {
    padding: 72px;
    color: var(--branco);
    background-color: var(--azulSegundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

.section-pcd h2 {
    font-weight: 700;
    font-size: 2rem; 
    text-align: center; 
}

.section-pcd p {
    max-width: 600px; 
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
}

.pcd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 32px;
}

.pcd__item {
    text-align: center;
    max-width: 300px;
    background-color: var(--branco);
    border: 2px solid var(--branco);
    border-radius: 12px; 
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.pcd__item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

.pcd__item h3 {
    font-weight: 700;
    font-size: 32px;
    color: #333;
    margin-bottom: 16px; 
}
.pcd__item p{
    color: #333;
}

.pcd__item i {
    margin-bottom: 16px;
    color: var(--azulSegundario);
}

/* Sessão de Localização */
.location {
    padding: 72px 24px;
    background-color: var(--cinza-claro);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
    transition: all 0.3s ease; 
}

.location h3 {
    font-size: 32px;
    font-family: "Lato", sans-serif;
    color: var(--preto);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid var(--laranjaPrimario);
    padding-bottom: 12px;
    margin-bottom: 32px;
}

.location-itens {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 32px;
    flex-wrap: wrap; 
}

.location-left {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    color: var(--cinza-escuro);
    position: relative; 
    padding: 16px;
    background-color: var(--branco); 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.location-left p {
    margin-bottom: 16px;
    font-size: 20px;
}

.location-left .btn-map {
    display: inline-block;
    margin-top: 16px;
    padding: 10px 20px;
    background-color: var(--laranjaPrimario);
    color: var(--branco);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}
.location-left .btn-map:hover {
    background-color: var(--laranjaSecundario); 
}

.location-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-right iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.location-left i {
    position: absolute;
    top: -24px; 
    left: 16px; 
    font-size: 32px;
    color: var(--laranjaPrimario); 
}


/* Sessão de Contato */
.section-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 72px 24px;
    background-color: #044ba8; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    justify-items: center;
}

.section-contact h3 {
    font-size: 28px;
    font-family: "Lato", sans-serif;
    color: #ffffff; 
    text-transform: uppercase;
    margin-bottom: 16px;
    border-bottom: 3px solid var(--laranjaPrimario);
    padding-bottom: 8px;
    text-align: center;
}

.section-contact h4 {
    font-size: 18px;
    color: #ffffff; 
    margin: 12px 0;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section-contact h4:hover {
    color: var(--laranjaPrimario);
}

.section-contact p {
    font-size: 16px;
    color: #ffffff; 
    text-align: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Links */
.section-contact a {
    color: var(--laranjaPrimario); 
    text-decoration: none;
    font-weight: bold;
}

.section-contact a:hover {
    color: #ffffff; 
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}
@media (max-width: 768px) {
    /* Margens e Padding Gerais */
    body {
        margin: 0 16px;
    }

    .nav-intro,
    .about-us,
    .about-section,
    .section-part,
    .location,
    .section-contact,
    .informacoes-complementares {
        padding: 16px;
    }

    .nav-intro h2,
    .section-part h2,
    .location h2,
    .section-contact h2,
    .informacoes-complementares h2,
    .card__item h3 {
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 700;
    }

    /* Navbar */
    .navbar {
        width: 100%;
        margin: 0;
    }

    .navbar p {
        visibility: hidden;
    }

    .btn.btn-one.menu {
        display: none;
    }

    /* Botão de Voltar ao Topo */
    .back-to-top-btn {
        visibility: visible;
        display: block;
        position: fixed;
        bottom: 20px;
        right: 8px;
        z-index: 100;
    }

    /* Seção Sobre */
    .about-section {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .us__left, .us__right {
        width: 100%;
        opacity: 1;
        transform: translateY(0);
    }
  
    .about-section h2 {
        font-size: 18px;
    }

    .about-section p,
    .section-part p,
    .location-left p,
    .location-right p,
    .contact-form input,
    .contact-form textarea,
    .informacoes-complementares p {
        font-size: 16px;
        line-height: 1.4;
    }

    /* Seção Como Participar */
    .section-part {
        grid-template-columns: 1fr;
    }

    .card__item {
        flex: 1 1 100%;
    }

    .card__item img {
        width: 48px;
        height: 48px;
    }

    /* Seção Localização */
    .location-itens {
        flex-direction: column;
        align-items: center;
    }

    .location-left, .location-right {
        width: 100%;
        margin-bottom: 15px;
    }

    /* Seção Contato */
    .section-contact {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 469px) {
    .navbar {
        width: 100%;
        margin: 0;
    }
    .us__left{
        padding: 0;
        margin: 0;
    }
    .about-section h2,
    .section-part h2,
    .location h2,
    .section-contact h2,
    .values-section h2,
    .section-compl h2,
    .section-pcd h2,
    .location h3,
    .informacoes-complementares h2,
    .contact-item h3 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .our-values h3,
    .part-title p {
        font-size: 18px;
    }

    .values-section,
    .section-part,
    .section-compl,
    .section-pcd,
    .location,
    .section-contact {
        padding: 32px;
    }

    .part__title {
        font-size: 16px;
    }

    .about-section p,
    .card__item p,
    .location-left p,
    .location-right p,
    .contact-form input,
    .contact-form textarea,
    .informacoes-complementares p {
        font-size: 16px;
        line-height: 1.3;
    }
}
